<div>
    <form class="form-style-8" name="loginForm" ng-submit="logIn()" novalidate>
        <h3>Log In</h3>
        <input type="text" name="user_name" ng-model="user_name" placeholder="User Name" required/>
        <input type="password" name="user_pass" ng-model="user_pass" placeholder="Password" required/>
        <br/>
        <input ng-disabled="loginForm.$invalid" type="submit" id="submit" value="Submit">
        <br/>
        <br/>
        <a type="button" ng-click="restorePW()">Restore Password</a>
    </form>
</div>
