<div>
    <form class="form-style-9" name="restoreForm" ng-submit="restorePW()" novalidate>
        <h3>Restore password</h3>
        <input type="text" name="user_name_restored" ng-model="user_name_restored" placeholder="User Name" required/>
        <span ng-show="restoreForm.user_name_restored.$error.required && restoreForm.user_name_restored.$touched">This is required! </span>
        <br/>
        <select ng-model="question_restored" name="question_restored" ng-options="x.question for x in questions" required></select>
        <br/>
        <input type="text" name="user_ans_restored" ng-model="user_ans_restored" placeholder="Answer" required/>
        <span ng-show="restoreForm.user_ans_restored.$error.required  && restoreForm.user_ans_restored.$touched">This is required! </span>
        <br/>
        <input ng-disabled="restoreForm.$invalid" type="submit" id="submit2" value="Submit">
        <br/>
        <br/>
        <br/>
        <br/>
        <h3>{{passWD}}</h3>
    </form>
</div>
