<meta name="viewport" content="width=device-width, initial-scale=1.0">
<label>You have {{num_of_fav}} Favorites</label>
<br>
<h1 class="explore_h1">Your Favorites</h1>

<div class="container-all fav">
    <div class="container" ng-repeat="image in saved_pois">
        <img ng-src="{{image.image}}" alt="">
        <div class="click active active-2 active-3" ng-click="starClick($index)" id="fav_click{{$index}}">
            <span class="fa fa-star" id="fav_span{{$index}}"></span>
            <div class="ring" id="fav_ring{{$index}}"></div>
            <div class="ring2" id="fav_ring2{{$index}}"></div>
        </div>
        <span class="title">{{image.name}}</span>
        <span class="text">Category: {{image.category}}</span>
    </div>
</div>
